<footer  class="footer">
    <div id="footNav" class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul><li><a>M/S Vanmas Group
                        1472-D, Model Town, Ext-D,
                        Ludhiana , Punjab , 141001</a></li>
                    <li><a>Contact No: 9023082000, 01614505538</a></li>
                    <!-- <li><a href="https://www.google.com">Blog</a></li>
                    <li><a href="https://www.google.com">Licenses</a></li> -->
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    <!-- © {{test | date: 'yyyy'}} -->
                    support@vanmasgroup.co.in
                </span>
            </div>
        </div>
    </div>
</footer>
