<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.google.com">Vanmas Team</a></li>
                    <li><a href="https://www.google.com">Blog</a></li>
                    <li><a href="https://www.google.com">Licenses</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}
                </span>
            </div>
        </div>
    </div>
</footer>
